<ion-tabs class="tabs-icon-top  tabs-background-balanced tabs-color-active-stable">

  <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/lowongankerja">
    <ion-nav-view name="tab-lowongan"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Disimpan" icon-off="ion-star" icon-on="ion-star" href="#/tab/lowongandisimpan">
    <ion-nav-view name="tab-lowongandisimpan"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="LamaranKu" icon-off="ion-briefcase" icon-on="ion-briefcase" href="#/tab/lamaranku/new">
    <ion-nav-view name="tab-lamaranku"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notifikasi" icon-off="ion-chatbubble-working" icon-on="ion-chatbubble-working" href="#/tab/notifikasi">
    <ion-nav-view name="tab-notifikasi"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>  

  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
