<ion-modal-view hide-nav-bar="false" title="">
  <ion-header-bar class="bar bar-header bar-balanced">
    <button class="button button-clear left" ng-click="modallamaranclose()">
      <i class="icon ion-chevron-left"></i>
    </button>
    <h1 class="title">Kelebihan Anda Dibandingkan Yang Lain</h1>
  </ion-header-bar>
  <ion-content scroll="true" class="has-header padding layerbackground">
    <textarea rows="10" style="border: 1px solid;width: 100%;padding:10px;"></textarea>
    <button class="button button-positive button-block" ng-click="modallamaransubmit()">
      Kirim
    </button>
  </ion-content>
</ion-modal-view>