<ion-view hide-nav-bar="false" title="Transaksi">
  <ion-content class="layerbackground" padding="false">
    <div class="list card no-padding" style="margin-bottom: 15px;" ng-repeat="transaksi in datatransaksi">
        <ion-item class="item item-remove-animate item-avatar item-icon-right item-stable" type="item-text-wrap" style="padding-left: 72px;">
            <img ng-src="{{getimagefunction(transaksi.JENIS_TRANSAKSI,transaksi.PROVIDER)}}">
            <h2>{{transaksi.JENIS_TRANSAKSI|uppercase}} {{transaksi.PROVIDER}}</h2>
            <h2>Rp {{transaksi.NOMINAL_TRANSAKSI|number}}</h2>
            <i class="icon ion-android-done-all"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" type="item-text-wrap" style="padding-left: 60px;left: 10px;">
          <i class="icon ion-android-phone-portrait placeholder-icon"></i>
            <h2>{{transaksi.NOMOR_HANDPHONE}}</h2>
        </ion-item>
        <ion-item class="item-icon-left" type="item-text-wrap" style="padding-left: 60px;left: 10px;">
          <i class="icon ion-android-time"></i>
            <h2>{{transaksi.WAKTU_SAVE}}</h2>
        </ion-item>
        <ion-item class="item-icon-left" type="item-text-wrap" style="padding-left: 60px;left: 10px;">
          <i class="icon ion-calendar"></i>
            <h2>{{transaksi.TRANSAKSI_ID}}</h2>
        </ion-item>
    </div>
    <ion-list ng-if="datatransaksi.length == 0">
      <div class="row not-found">
          <div class="profile">
              <img ng-src="img/kg.png"/>
              <h3 style="color: #444;margin-top: -1vh;">Transaksi Kosong</h3>
          </div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
