<ion-view view-title="Account">
  <ion-content class="layerbackground">
    <ion-list>
      <div class="profile text-center" style="margin-top: 5px;">
          <img class="profile-picture" data-ng-src="img/lg_telkomsel.png" />
          <h4 class="profile-name">{{userprofile.NAMA_LENGKAP}}</h4>
      </div>
      <ion-item class="item item-divider item-balanced item-icon-right" href="#/tab/profile/datapribadi">
        <h2 style="color: white">Data Pribadi</h2>
        <i class="icon ion-compose"></i>
      </ion-item>
      <ion-item class="item-icon-left" style="border:0px;">
        <i class="icon ion-email placeholder-icon"></i>
          <h2>radumta@gmail.com</h2>
      </ion-item>
      <ion-item class="item-icon-left" style="border: 0px;margin-top: -15px;">
        <i class="icon ion-android-phone-portrait placeholder-icon"></i>
          <h2>+629601582140</h2>
      </ion-item>
      <ion-item class="item item-divider item-balanced item-icon-right" href="#/tab/profile/pendidikan">
        <h2 style="color: white">Pendidikan</h2>
        <i class="icon ion-plus"></i>
      </ion-item>
      <ion-item class="item" style="border: 0px;">
        <p>
          <span style="float: left;font-size: 12px">SD INPRES PANGALOAN</span>
          <span style="float: right;font-size: 12px">1993-1999</span>
        </p>
        <p>
          <span style="float: left;font-size: 12px">SMP NEGERI 1 NAINGGOLAN</span>
          <span style="float: right;font-size: 12px">1999-2002</span>
        </p>
        <p>
          <span style="float: left;font-size: 12px">SMA NEGERI 1 ONANRUNGGU</span>
          <span style="float: right;font-size: 12px">2002-2005</span>
        </p>
        <p>
          <span style="float: left;font-size: 12px">STMIK MIKROSKIL MEDAN</span>
          <span style="float: right;font-size: 12px">2008-2014</span>
        </p>
      </ion-item>
      <ion-item class="item item-divider item-balanced item-icon-right" href="#/tab/profile/bahasa">
        <h2 style="color: white">Bahasa Yang Dikuasai</h2>
        <i class="icon ion-plus"></i>
      </ion-item>
      <ion-item class="item" style="border:0px;">
          <span style="float: left;font-size: 14px">Bahasa Indonesia</span>
          <span style="float: right;font-size: 14px">
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
          </span>
      </ion-item>
      <ion-item class="item" style="border:0px;margin-top: -15px;">
          <span style="float: left;font-size: 14px">Bahasa Inggris</span>
          <span style="float: right;font-size: 14px">
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
          </span>
      </ion-item>
      
  </ion-content>
</ion-view>
