<ion-view view-title="Account">
  <ion-content class="layerbackground">
    <ion-list>
      <div class="profile text-center" style="margin-top: 5px;">
          <img class="profile-picture" data-ng-src="img/lg_telkomsel.png" />
          <h4 class="profile-name">{{userprofile.NAMA_LENGKAP}}</h4>
      </div>
      <ion-item class="item item-divider item-balanced item-icon-right">
        <h2 style="color: white">Data Pribadi</h2>
        <i class="icon ion-compose"></i>
      </ion-item>
      <ion-item class="item-icon-left" style="border:0px;">
        <i class="icon ion-email placeholder-icon"></i>
          <h2>radumta@gmail.com</h2>
      </ion-item>
      <ion-item class="item-icon-left" style="border: 0px;margin-top: -15px;">
        <i class="icon ion-android-phone-portrait placeholder-icon"></i>
          <h2>+629601582140</h2>
      </ion-item>

      <ion-item class="item item-divider item-balanced item-icon-right">
        <h2 style="color: white">Lama Pengalaman</h2>
        <i class="icon ion-compose"></i>
      </ion-item>
      <ion-item class="item-icon-left" style="border:0px;">
        <i class="icon ion-email placeholder-icon"></i>
          <h2>radumta@gmail.com</h2>
      </ion-item>
      <ion-item class="item-icon-left" style="border: 0px;margin-top: -15px;">
        <i class="icon ion-android-phone-portrait placeholder-icon"></i>
          <h2>+629601582140</h2>
      </ion-item>
      <ion-item class="item item-divider item-balanced item-icon-right">
        <h2 style="color: white">Pengalaman</h2>
        <i class="icon ion-plus"></i>
      </ion-item>
      <ion-item class="item-icon-left" style="border:0px;">
        <i class="icon ion-email placeholder-icon"></i>
          <h2>radumta@gmail.com</h2>
      </ion-item>
      <ion-item class="item-icon-left" style="border: 0px;margin-top: -15px;">
        <i class="icon ion-android-phone-portrait placeholder-icon"></i>
          <h2>+629601582140</h2>
      </ion-item>
      <ion-item class="item item-divider item-balanced item-icon-right">
        <h2 style="color: white">Pendidikan</h2>
        <i class="icon ion-plus"></i>
      </ion-item>
      <ion-item class="item-icon-left" style="border:0px;">
        <i class="icon ion-email placeholder-icon"></i>
          <h2>radumta@gmail.com</h2>
      </ion-item>
      <ion-item class="item-icon-left" style="border: 0px;margin-top: -15px;">
        <i class="icon ion-android-phone-portrait placeholder-icon"></i>
          <h2>+629601582140</h2>
      </ion-item>
      <ion-item class="item item-divider item-balanced item-icon-right">
        <h2 style="color: white">Keahlian</h2>
        <i class="icon ion-plus"></i>
      </ion-item>
      <ion-item class="item-icon-left" style="border:0px;">
        <i class="icon ion-email placeholder-icon"></i>
          <h2>radumta@gmail.com</h2>
      </ion-item>
      <ion-item class="item-icon-left" style="border: 0px;margin-top: -15px;">
        <i class="icon ion-android-phone-portrait placeholder-icon"></i>
          <h2>+629601582140</h2>
      </ion-item>
      <ion-item class="item item-divider item-balanced item-icon-right">
        <h2 style="color: white">Gaji Yang Diharapkan</h2>
        <ion-icon item-right name="heart"></ion-icon>
      </ion-item>
      <ion-item class="item-icon-left" style="border:0px;">
        <i class="icon ion-email placeholder-icon"></i>
          <h2>radumta@gmail.com</h2>
      </ion-item>
      <ion-item class="item-icon-left" style="border: 0px;margin-top: -15px;">
        <i class="icon ion-android-phone-portrait placeholder-icon"></i>
          <h2>+629601582140</h2>
      </ion-item>
      <ion-item class="item item-divider item-balanced item-icon-right">
        <h2 style="color: white">Bahasa Yang Dikuasai</h2>
        <i class="icon ion-plus"></i>
      </ion-item>
      <ion-item class="item-icon-left" style="border:0px;">
        <i class="icon ion-email placeholder-icon"></i>
          <h2>radumta@gmail.com</h2>
      </ion-item>
      <ion-item class="item-icon-left" style="border: 0px;margin-top: -15px;">
        <i class="icon ion-android-phone-portrait placeholder-icon"></i>
          <h2>+629601582140</h2>
      </ion-item>
      <ion-item class="item item-divider item-balanced item-icon-right">
        <h2 style="color: white">Info Tambahan</h2>
        <ion-icon item-right name="heart"></ion-icon>
      </ion-item>
      <ion-item class="item-icon-left" style="border:0px;">
        <i class="icon ion-email placeholder-icon"></i>
          <h2>radumta@gmail.com</h2>
      </ion-item>
      <ion-item class="item-icon-left" style="border: 0px;margin-top: -15px;">
        <i class="icon ion-android-phone-portrait placeholder-icon"></i>
          <h2>+629601582140</h2>
      </ion-item>
      
  </ion-content>
</ion-view>
