<ion-view view-title="Notifikasi" hide-nav-bar="false">
  <ion-content class="layerbackground">
   <div class="list card no-padding" style="margin-bottom: 15px;">
        <ion-item class="item item-remove-animate item-avatar item-icon-right item-stable" type="item-text-wrap" style="padding-left: 72px;">
            <img ng-src="img/lg_token.png">
            <h2>PROGRAMMER</h2>
            <h2>PT Indodev Niaga</h2>
            <i class="icon ion-android-done-all" style="font-size: 36px;"></i>
        </ion-item>
    </div>
  </ion-content>
</ion-view>
