<ion-view view-title="Lamaranku Aktif" hide-nav-bar="true">
  <ion-content class="layerbackground has-footer">
    <div class="list card no-padding" style="margin-bottom: 15px;" ng-repeat="lowongan in listlamaranku">
        <ion-item class="item item-remove-animate item-avatar item-icon-right item-stable" type="item-text-wrap" style="padding-left: 72px;">
            <img ng-src="img/lg_token.png" ng-click="modallamarankuopen(lowongan)">
            <h2 ng-click="modallamarankuopen(lowongan)">{{lowongan.NAMA_LOWONGAN}}</h2>
            <h2 ng-click="modallamarankuopen(lowongan)">{{lowongan.NAMA_PERUSAHAAN}}</h2>
            <i class="icon ion-star" ng-class="{emas: apakahdisimpan(lowongan)}" ng-click="addorremove(lowongan)" style="font-size: 36px;"></i>
        </ion-item>
        <div ng-click="modallamarankuopen(lowongan)">
          <ion-item class="item-icon-left item-icon-right" type="item-text-wrap" style="padding-left: 60px;left: 10px;">
            <i class="icon ion-ios-location-outline"></i>
              <h2>{{lowongan.LOKASI_PERUSAHAAN}}</h2>
          </ion-item>
          <ion-item class="item-icon-left item-icon-right" type="item-text-wrap" style="padding-left: 60px;left: 10px;">
            <i class="icon ion-cash placeholder-icon"></i>
              <h2>Rp {{lowongan.MIN_GAJI|number}} - {{lowongan.MAX_GAJI|number}}</h2>
          </ion-item>
          <ion-item class="item-icon-left" type="item-text-wrap" style="padding-left: 60px;left: 10px;">
            <i class="icon ion-android-time"></i>
              <h2>{{lowongan.TGL_BUKALOWONGAN}}</h2>
          </ion-item>
          <ion-item class="item-icon-left" type="item-text-wrap" style="padding-left: 60px;left: 10px;">
            <i class="icon ion-eye"></i>
              <h2>Dilihat 3 Kali</h2>
          </ion-item>
        </div>
    </div>
  </ion-content>
</ion-view>
