<ion-view view-title="History" hide-nav-bar="true">
  <ion-content class="layerbackground">
   <div class="list card no-padding" style="margin-bottom: 15px;">
        <ion-item class="item item-remove-animate item-avatar item-icon-right item-stable" type="item-text-wrap" style="padding-left: 72px;">
            <img ng-src="img/lg_token.png">
            <h2>PROGRAMMER</h2>
            <h2>PT Indodev Niaga</h2>
            <i class="icon ion-star" style="font-size: 36px;"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" type="item-text-wrap" style="padding-left: 60px;left: 10px;">
          <i class="icon ion-cash placeholder-icon"></i>
            <h2>Rp {{6000000|number}}-7.000.000</h2>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" type="item-text-wrap" style="padding-left: 60px;left: 10px;">
          <i class="icon ion-happy placeholder-icon"></i>
            <h2>Diatas Gaji Yang Diharapkan</h2>
        </ion-item>
        <ion-item class="item-icon-left" type="item-text-wrap" style="padding-left: 60px;left: 10px;">
          <i class="icon ion-android-done-all"></i>
            <h2>Tidak Sesuai</h2>
        </ion-item>
    </div>
  </ion-content>
</ion-view>
