<ion-view view-title="Dokumen">
  <ion-content class="layerbackground">
    <div class="row" style="flex-wrap: wrap;">
      <div class="col col-50">
          <div class="list card" style="margin:0px;min-height: 150px;" ng-click="gotoformisian('paketdata')">
              <h5 style="text-align: center;">Kartu Keluarga</h5>
          </div>  
      </div>
      <div class="col col-50">
          <div class="list card" style="margin:0px;min-height: 150px;" ng-click="gotoformisian('paketdata')">
              <h5 style="text-align: center;">KTP</h5>
          </div>  
      </div>
      <div class="col col-50">
          <div class="list card" style="margin:0px;min-height: 150px;" ng-click="gotoformisian('paketdata')">
              <h5 style="text-align: center;">NPWP</h5>
          </div>  
      </div>
    </div>
  </ion-content>
</ion-view>
