<ion-view view-title="Password">
  <ion-content class="layerbackground">
    <ion-item>
      <form name="passwordForm" novalidate="true">
        <label class="item item-input item-stacked-label border-bottom">
         <span class="input-label">Alamat Email</span>
          <input type="text" name="alamatemail" ng-model="profile.ALAMAT_EMAIL" class="custom-success" ng-disabled="true">
        </label>
        <label class="item item-input item-stacked-label border-bottom">
         <span class="input-label">Nomor Handphone</span>
          <input type="text" name="nomorhandphone" ng-model="profile.NOMOR_HANDPHONE"  class="custom-success" ng-disabled="true">
        </label>
        <label class="item item-input item-stacked-label border-bottom">
         <span class="input-label">Password Baru</span>
          <input type="text" name="passwordbaru" ng-model="profile.PASSWORD_BARU" class="custom-success" required>
        </label>
        <button  class="button button-block button-calm" ng-click="submitubahpassword()" ng-disabled="passwordForm.$invalid">
          Submit
        </button>
      </form>
    </ion-item>
  </ion-content>
</ion-view>
